/* 11
120
16
223
not не считается
class=10
id=100
elemet=1
псевдо классы элементов=1
псевдо классы классов=10
списки и таблицы */

.menu {
    list-style-type: none;
    /* padding-left: 0;
    margin-left: 0; */
    /* justify-content: center; */
}

li {
    text-decoration: none;
    font-family: sans-serif;
    color: #0d0d0e;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(217, 217, 221);
    border-bottom: 5px solid #101011;
}

a {
    background-color: rgb(0, 0, 0.2);
}

.navbar.navbar-red {}